:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(56, 56, 56);
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
